.name{
    color:blue</style>
    background-color:black;
    padding-left:10px;
    margin:50px;
}

#specialStyle{
    <text-align: center;
}

.emailInfo{
    text-decoration: underline;
}
h3{
    text-align:right
}

img{
    height:150px;
}